* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --sb-track-color: #233831;
  --sb-thumb-color: #8fdcc2;
  --sb-size: 10px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 30px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 30px;
}

:root {
  --background-dark-color: #233831;
  --background-dark-grey: #234138;
  --background-light-color: #ede7de;
  --background-light-color-2: #f4eee6;
  --white-color: #ffffff;
  --font-light-color: #8fdcc2;
  --font-dark-color: #025a4e;
}

@font-face {
  font-family: "gt";
  src: url(gt/gt-r.ttf);
}
@font-face {
  font-family: "acron";
  src: url(gt/Acorn-Medium.ttf);
}

h1,
h2,
h3,
h4 {
  font-family: "acron";
  color: var(--font-light-color);
}
p {
  font-family: "gt";
  color: #d4ede4;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

body {
  background-color: var(--background-dark-color);
  color: var(--font-light-color);
}

header {
  width: 100%;
  background: rgb(35, 56, 49);
  background: linear-gradient(
    0deg,
    rgba(35, 56, 49, 1) 0%,
    rgba(74, 122, 46, 1) 100%
  );
}

nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  height: 100px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
nav ul {
  height: 58px;
  width: auto;
  gap: 2rem;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  background: #23383184;
  backdrop-filter: blur(50px);
  margin-top: 20px;
  border-radius: 50px;
  padding: 10px 20px;
}

nav ul li a {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-decoration: none;
  color: #d4ede4;
  font-family: "gt";
  font-weight: 400;
}

.nav-active {
  padding: 6px 20px;
  background: #8fdcc25e;
  border-radius: 50px;
}

.header {
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}
.header p {
  width: 40%;
}

.hero {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.hero-1 {
  display: inline-block;
  padding-top: 100px;
  font-size: 80px;
  text-align: center;
}
.hero-img1 {
  display: flex;
  align-items: end;
}
.hero-img2 {
  padding-top: 90px;
  display: flex;
  align-items: start;
}

.projects {
  width: 100%;
  padding: 10px 50px;
  display: flex;
  justify-content: center;
  gap: 58px;
  margin-bottom: 100px;
}
.inproproject {
  padding: 10px 50px;
  display: flex;
  gap: 58px;
  margin-bottom: 100px;
}
.project-1 {
  width: 525px;
  padding: 20px;
  height: 550px;
  background-color: #d194e4;
  border-radius: 64px;
  overflow: hidden;
  position: relative;
}
.inproproject-1 {
  width: 525px;
  padding: 20px;
  height: 550px;
  background-color: #1c1d1d;
  border-radius: 64px;
  overflow: hidden;
  position: relative;
}
.project-1:hover,
.project-2:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
}

.project-1 img,
.project-2 img,
.inproproject-1 img,
.inproproject-2 img {
  position: absolute;
  top: 160px;
  left: 70px;
}
.project-2 {
  width: 875px;
  height: 550px;
  background-color: #a2ddd4;
  border-radius: 64px;
  overflow: hidden;
  padding: 20px;
  position: relative;
}
.inproproject-2 {
  width: 840px;
  height: 550px;
  background-color: #fffefe;
  border-radius: 64px;
  overflow: hidden;
  padding: 20px;
  position: relative;
}
.project-title,
.inproproject-title {
  text-align: start;
  position: absolute;
  right: 70px;
  top: 50px;
}
.project-title h1,
.inproproject-title h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  color: #364442;
  text-align: end;
}
.project-title p,
.inproproject-title p {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 30px;
  color: #364442;
  text-align: end;
}

.inprogress {
  padding-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58px;
}
#inprogress {
  font-size: 115px;
  font-weight: bold;
  text-align: center;
}
.inprogress p {
  width: 40%;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 100px;
}
.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  gap: 2rem;
}
.footer-name-tag {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  width: 600px;
  height: 80px;
  background-color: #2d493e;
  padding: 20px;
  border-radius: 50px;
}
.footer-name-tag svg {
  width: 50px;
  height: 50px;
  opacity: 0.5;
}

.footer-about p {
  text-align: start;
  color: #8fdcc2;
  font-size: 15px;
  line-height: 22px;
}

.footer-right {
  display: flex;
  justify-content: space-around;
  align-items: start;
  gap: 2rem;
  width: 30%;
}
.footer-right ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer-right ul p {
  text-decoration: none;
  color: #a2ddd4;
  font-weight: bold;
  text-align: start;
}
.footer-right ul p a {
  text-decoration: none;
  color: #d4ede4;
  font-weight: normal;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vmin;
}
.about img {
  height: 50vmin;
}
.about-text {
  width: 40%;
}
.about-text h1 {
  font-size: 64px;
  text-align: start;
  padding-bottom: 40px;
}
.about-text p {
  text-align: start;
  padding-bottom: 40px;
}
